__pycache__/
*.pyc
*.sqlite
*.sqlite-shm
*.sqlite-wal
monitor_state.json
monitor.log
monitor.err.log
monitor_linux.log
monitor_linux.err.log
kleinanzeigen/
kleinanzeigen/
server/secrets.php
/monitor_linux.py
/run_monitor_linux.sh
